<h1>Welcome to conversion currency!</h1>
<div class="content">
    <div class="border">
        <label for="curr1">Enter amount of currency</label>
        <input type="text" id="curr1" #amount 
        (mouseleave)="changeAmount(amount.value)"
        [(ngModel)]="res2">
        <select #country name="currency" id="uah" (mouseleave)="changeCountry(country.value)" required>
            <option value="UAH" #uah >UAH</option>
            <option value="USD" #usd >USD</option>
            <option value="EUR" #eur >EUR</option>
        </select>
    </div>
    <div class="border">
        <label for="curr1">Convertered currency</label>
        <input type="text" id="curr1" #convertered [(ngModel)]="res">
        <select name="currency" id="uah" #sCountry (mouseleave)="secondCountry(sCountry.value)" required>
            <option value="UAH">UAH</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
    </div>
</div>
<div class="content">
    <button (click)="calculateResult()">Result</button>
    <button (click)="calculateReversedResult()">Reversed Result</button>
</div>
