<h1>Welcome to conversion currency!</h1>
    <div  class="content">
        <form class="border" #conversionForm="ngForm" (mouseleave)="onSubmit(conversionForm)">
            <label for="amount">Enter amount of currency</label>
            <input type="text" 
            id="amount" 
            [(ngModel)]="amount"
            required 
            name="amount1">
            <select #currency 
            name="currencyName" 
            required 
            (mouseleave)="getCurrencyName(currency.value)" 
             [(ngModel)]="currencyName">
                <option value="UAH">UAH</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
            </select>
        </form>
        <form class="border" #converteredForm="ngForm" (mouseleave)="onSubmitF2(converteredForm)">
            <label for="curr2">Convertered currency</label>
            <select name="converteredCurrencyName"
             #currency2  
             required
             [(ngModel)]="converteredCurrencyName"
            (mouseleave)="getCurrencyName(currency2.value)">
                <option value="UAH">UAH</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
            </select>
            <input type="text"
             id="curr2" 
             [(ngModel)]="resAmount" 
             name="resAmount">
        </form>
    </div>


